<h1>Masquerade Details</h1>

<pre>
Active User id: <%= session[:user_id] %>
Active Location id: <%= session[:location_id] %>

Masquerade by User id: <%= session[:masquerade_by_user_id] %>
Masquerade by Location id: <%= session[:masquerade_original_location] %>
</pre>
