<%= javascript_include_tag "stripe_handler.js" %>

<%= form_with(url: update_billing_and_create_reservation_reservations_path(room_id: @room.id, day: @day, hour: pretty_time(@hour), duration: @duration), remote: true, html: {id: "stripe-form" }) do |f| %>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= render "shared/billing" %>
    <div class="col-1"></div>
  </div>
  
  <div class="form-group row">
    <div class="col-1"></div>
    <button class="form-control btn btn-primary col" id="stripe-submit" data-acc="add-payment">
      <span class="show-when-enabled">
        Add card and confirm reservation
      </span>
      <span class="show-when-disabled">
        Reserving...
      </span>
    </button>
    <div class="col-1"></div>
  </div>
<% end %>
