<%= javascript_include_tag "reservation_calendar.js" %>
<%= stylesheet_link_tag "reservation_calendar", media: "all" %>

<div id="reservation-calendar-container">
  <div class="p-5">
    <h2 class="mb-4">Reservation Date</h2>
    <div class="card">
      <div class="card-body p-0">
        <div class="mx-auto" id="reservation-fullcalendar"></div>
      </div>
      </div>
    </div>
  </div>

  <div id="modal-view-event-add" class="modal modal-top fade calendar-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="add-reservation" method="post">
          <div class="modal-body">
          <h4>Reservation Details</h4>
            <div class="form-group">
              <label>Date</label>
              <p class="date-value"></p>
              <input type='text' class="reservation-date-input form-control" name="date" hidden>
            </div>
            <div class="form-group">
              <label>Start Time</label>
              <div id="time-slots-container"></div>
              <input type='text' class="form-control" name="time" hidden>
            </div>

             <div class="form-group">
              <label>Meeting Duration</label>
              <div id="duration-slots-container" class="d-none">
                <div class="duration-slot" data-duration="30">30 minutes</div>
                <div class="duration-slot" data-duration="60">1 hour</div>
                <div class="duration-slot" data-duration="90">1.5 hours</div>
                <div class="duration-slot" data-duration="120">2 hours</div>
                <div class="duration-slot" data-duration="180">3 hours</div>
                <div class="duration-slot" data-duration="240">4 hours</div>
                <div class="duration-slot" data-duration="480">8 hours</div>
              </div>
              <input type='text' class="form-control" name="duration" hidden>
            </div>
        </div>
          <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>