<%- title "Reservation Confirmation" %>

<div class="mt-5 mx-2">
  <%= render Layout::FullWidth.new do %>
    <%= list_item do %>
      <h5 class="text-center">Reservation Details</h5>
      <ul class="list-group list-group-flush">
        <%= render "reservation_details_card", reservation: @reservation %>
      </ul>
    <% end %>
  <% end %>
<div>
