<%= list_item do %>
  <div class="row">
    <div class="col">
      <h5><%= plan.name %></h5>
      <%= render "operator/plans/price", plan: plan %>

      <%= link_to 'View', plan, class: "btn btn-block btn-primary mt-3" %>

    </div>
  </div>
<% end %>
