<%- title "Edit Plan" %>

<div class="row mt-3">
  <div class="col-sm-3"></div>
  <div class="col-sm">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Plans", plans_path %></li>
        <li class="breadcrumb-item"><%= link_to @plan.name, plans_path %></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
      </ol>
    </nav>
    <div class="jumbotron bg-white pb-2 pt-2">
      <h4 class="display-4 text-center mt-4">Edit Plan</h4>
      <%= render "edit_form", plan: @plan, url: plan_path(@plan) %>
      <div class="row mt-3">
        <div class="col-12">
          <%= link_to "Cancel", plan_path(@plan), class: "btn btn-block btn-warning" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
