
<div class="row mt-3">
  <div class="col-sm-3"></div>
  <div class="col-sm">
    <div class="jumbotron bg-white pb-2 pt-2">
      <h4 class="display-4 text-center mt-4">Membership Plans</h4>
      <%= link_to "Add a new plan", new_plan_path, class: "btn btn-primary btn-sm" %>
      <table class="table">
        <tr>
          <th>Plan</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
        <%- @plans.each do |plan| %>
          <tr>
            <td><%= link_to plan.name, plan_path(plan) %></td>
            <td><%= plan.pretty_price %></td>
            <td><%= render "actions", plan: plan %></td>
          </tr>
        <%- end %>
      </table>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
