<% title "Leads" %>

<%= render Layout::FullWidth do %>
  <%= list_item do %>
    <h4 class="dislay-4 text-center">Leads</h4>
  <% end %>

  <% @leads.each do |lead| %>
    <%= link_to lead_path(lead), class: "list-group-item list-group-item-action" do %>
      <%= lead.user.name %>
    <% end %>
  <% end %>
<% end %>