<div class="col mt-3">
  <strong class="row">
    Memberships
  </strong>
  <p class="row mt-3" style="height: 100px;">
    <%= membership_text(@plan) %>
  </p>
  <div class="row">
    <%= link_to "Become a member", new_subscription_path, class: "btn btn-info col m-2", data: { acc: 'new-member' } %>
  </div>
</div>
