<div class="collapse-group">
  <%= operator.snippet[0..75] %><span id="full-snippet" class="collapse"><%= operator.snippet[76..-1] %></span>
  <a href="#" data-toggle="collapse" data-target="#full-snippet">Read More</a>
</div>