<div class="row mt-3">
  <div class="col-sm-3"></div>
  <div class="col-sm">
    <div class="jumbotron bg-white pb-2 pt-2">
      <h4 class="display-4 text-center mt-4">Welcome!</h4>
      <p class="lead text-center mb-3 mt-3">To proceed, please purchase a day pass or become a member at <%= current_tenant.name %>.</p>
      <div class="row mb-2 mr-1 ml-1">
        <%= link_to "Day pass", new_day_pass_path, class: "btn btn-primary col m-2" %>
        <%= link_to "Become a member", new_subscription_path, class: "btn btn-info col m-2" %>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>


