<% title "Childcare" %>

<%= render Layout::FullWidth do %>
  <%= list_item do %>
    <h4 class="display-4 text-center">
      My Childcare
    </h4>

    <p>You have X child profiles and Y existing childcare reservations.</p>
  <% end %>

  <%= link_to child_profiles_path, class: "list-group-item list-group-item-action" do %>
    <div class="row">
      <div class="col-lg-10 col-11">
        <i class="fas fa-child"></i>
        &nbsp;
        My child profiles
      </div>
      <div class="col-1">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  <% end %>
<% end %>