<div class="d-flex align-items-center">
  <%= link_to path, class: "text-body", remote: true do %>
    <span style="font-size: 20pt">
      <i class="<%= icon_class %>"></i>
    </span>
  <% end %>
  &nbsp;
  <% if predicate %>
    <%= content %>
  <% else %>
    <span class="text-muted">
      <%= content %>
    </span>
  <% end %>
</div>