<%= stylesheet_link_tag "simplegrid.css" %>

<!-- template -->
<div class="grid grid-pad">
  <div class="col-1-1">
    <div class="content">

    </div>
  </div>
</div>


<div class="grid grid-pad">
  <div class="col-1-1">
    <!-- row 1 -->
    <div class="grid">
      <div class="col-1-1">
        <div class="content">
          <%= @announcement.user.name %>
          <small>posted an announcement</small>
        </div>
      </div>
    </div>

    <!-- row 2 -->
    <div class="grid">
      <div class="col-1-1">
        <div class="content">
          <small>
            <%= time_ago_in_words(@announcement.created_at) %> ago
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid grid-pad">
  <div class="col-1-1">
    <div class="content">
      <%= @announcement.body %>
    </div>
  </div>
</div>
