<div class="dropdown">
  <button class="btn btn-sm btn-light" type="button" id="feedItemDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ...
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="feedItemDropdown">
    <%= link_to "Delete", feed_item_path(feed_item), method: :delete, remote: true, data: {"turbolinks-action" => "restore"}, class: "dropdown-item" %>
  </div>
</div>