<%= form_for(feed_item, remote: true) do |f| %>
  <%= render "shared/error_messages" , model: feed_item %>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.text_area :text, placeholder: "What's up at #{current_tenant.name}?", class: "form-control col" %>
    <div class="col-1"></div>
  </div>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.submit "Post management note", class: "form-control btn btn-primary col" %>
    <div class="col-1"></div>
  </div>
<%- end %>
