<%= form_for(feed_item, html: {multipart: true}, **feed_item_remote_params , data: { type: :html, turbolinks: "false" }) do |f| %>
  <%= render "shared/error_messages" , model: feed_item %>
  <div>
    <%= f.rich_text_area :text, placeholder: "Type a new management note...", data: { controller: "mentions", mentions_target: "field" }, id: "text" %>
  </div>
  <div class="form-group row m-0 p-0">
    <button class="form-control btn btn-primary col" id="submit" data-disable-with="Posting...">
      <i class="fas fa-edit"></i>
      &nbsp;
      Post management note
    </button>
  </div>
<%- end %>

<%= render "shared/disable_button", submit_id: "#submit", text_id: "#text" %>
