<%= render "operator/search_results/form" %>
<a href="<%= new_feed_item_path %>" class="btn btn-block btn-light">
  <i class="fas fa-edit"></i>
  New Post
</a>

<div class="d-flex justify-content-center">
  <div class="btn-group mt-2" role="group" aria-label="Filter">
    <%= link_to "All", feed_items_path, class: "btn btn-light #{@all_active}" %>
    <%= link_to "Questions", questions_feed_items_path, class: "btn btn-light #{@questions_active}" %>
  </div>
</div>