<div class="row mt-3 mb-2">
  <div class="col-sm-3"></div>
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h4 class="display-4 text-center">Management Log</h4>
        <%= render "form", feed_item: @feed_item %>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>

<%- @feed_items.each do |feed_item| %>
  <%= render "feed_item", feed_item: feed_item %>
<%- end %>