<% title "Bulletin Board" %>

<%= render Layout::FullWidth.new do %>
  <%= list_item do %>
    <h4 class="display-4 text-center">Bulletin Board</h4>
    <%= link_to "New Post", new_post_path, class: "btn btn-block btn-primary" %>
  <% end %>

  <% @posts.each do |post| %>
    <%= render Posts::PostLink.new(post: post) %>
  <% end %>
<% end %>