
<div class="row mt-0 mb-2 ml-0 mr-0">

  <div class="col-lg">
    <%= form_with(url: search_results_path, method: :post, remote: true) do |f| %>
      <div class="form-group row">
        <div class="col-lg-1"></div>
        <div class="input-group">
          <%- if @query.present? %>
            <%= f.text_field :query, placeholder: "Search", class: "form-control form-control col-lg", value: @query %>
          <%- else %>
            <%= f.text_field :query, placeholder: "Search", class: "form-control form-control col-lg" %>
          <%- end %>
          <div class="input-group-append">
            <%= f.submit "Search", class: "btn btn-primary fas fa-search" %>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
      
    <%- end %>
  </div>
  
</div>
