<div class="row">
  <div class="col-sm-2"></div>
  <div class="col">
    <div class="jumbotron mt-3 pt-5 bg-light">
      <h1 class="display-5">Your account is awaiting approval.</h1>
      <p class="lead mt-3">
        Please check back shortly.
      </p>
    </div>
  </div>
    <div class="col-sm-2"></div>
</div>

