<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm">
    <h1>Sign Up</h1>
    <%= render "form", label: "Get Started", disable_email: false %>
  </div>
  <div class="col-sm"></div>
</div>


