<div class="row">
  <div class="col-sm">
    <h1>My Account <span><%= link_to "Edit my account details", edit_user_path(@user), class: "btn btn-sm btn-primary" %></span></h1>

    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>Email address</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>Password</th>
        <td><%= link_to "Change Password", edit_user_path(@user), class: 'btn-sm btn-primary' %></td>
      </tr>
    </table>

  </div>
  <div class="col-sm"></div>
</div>






