<%- if admin? %>
  <div class="row">
    <%= link_to "Edit this user", edit_user_path(@user), class: "col btn btn-block btn-outline-primary btn-sm mb-2 ml-3 mr-3" %>
  </div>
  <div class="row">
    <div class="col">
      <%= render "approval_toggle", user: @user %>
    </div>
  </div>
  
  <dl class="row mt-3">
    <dt class="col-sm-3">Owner of</dt>
    <dd class="col">
      <%- if @user.owned_organization.present? %>
        <%= link_to @user.owned_organization.name, organization_path(@user.owned_organization) %>
      <%- else %>
        No organizations owned.
      <%- end %>
    </dd>
  </dl>
  <dl class="row">
    <dt class="col-sm-3">Member Of</dt>
    <dd class="col"><%= render "organization_form" %></dd>
  </dl>
<%- end %>
