<div class="row mt-2">
  <div class="col">
    <% if user.has_billing? || user.out_of_band? %>
      <%= render "operator/admin/day_passes/form", day_pass: DayPass.new, label: "Add day pass", user: user %>
    <% else %>
      <small><strong>NOTE</strong>: This user does not have a credit card on file.</small>
    <% end %>
  </div>
</div>

<% if @user.day_passes.count < 1 %>
  <div class="row">
    <div class="col text-center">
      No day passes.
    </div>
  </div>
<% else %>
  <h5 class="display-5 text-center">Past Day Passes:</h5>
  <% user.day_passes.each do |day_pass| %>
    <dd class="row text-center">
      <div class="col-lg mt-1">
        <%= day_pass.pretty_day %>
      </div>
    </dd>
  <% end %>
<% end %>
