<% if @user.invoices.count < 1 %>
  No invoices
<% else %>
  <table class="table">
    <tr>
      <th>Invoice</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <% @user.invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.number %></td>
        <td><%= invoice.status %></td>
        <td>
          <% if invoice.open? %>
            <%= link_to "Mark as paid", invoice_mark_paid_path(invoice), class: "btn btn-sm btn-primary" %>
          <% end %>
          <%= link_to "Download PDF", invoice.pdf_url, class: "btn btn-sm btn-info", target: "_blank" %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
