<%- if admin? %>
  <a class="list-group-item list-group-item-action" href="<%= user_path(user) %>">
<%- else %>
  <li class="list-group-item">
<%- end %>

  <div class="row">
    <div>
      <%= render "shared/small_profile_photo", user: user %>
    </div>
    <div class="ml-2">
      <p class="mb-1 pt-2">
        <%= user.name %>
      </p>
    </div>
  </div>
<%- if admin? %>
  </a>
<%- else %>
  </li>
<%- end %>