<%- if user.subscriptions.active.count < 1 %>
  <div class="row">
    No active memberships.
  </div>
  <div class="row mt-2">
    <%= render "operator/subscriptions/form", subscription: Subscription.new, label: "Add membership", cc: false, user_id: user.id %>
    <%- if !user.has_billing? %>    
      <small><strong>NOTE</strong>: This user does not have a credit card on file.</small>
    <%- end %>
  </div>
<%- else %>
  <%- user.subscriptions.for_operator(current_tenant).active.each do |subscription| %>
    <div class="row">
      <strong><%= subscription.plan.plan_name %></strong>
    </div>
    <div class="row mt-2">
      <%= render "operator/subscriptions/form", subscription: subscription, label: "Update membership", cc: false, user_id: user.id %>
    </div>
  <%- end %>
<%- end %>