<%- title "Member Directory" %>

<%= wide_card do %>
  <%- if admin? %>
    <div class="row mt-3 mb-3">
      <div class="col">
        <%= link_to "Add Member", add_member_users_path, class: "btn btn-block btn-primary" %>
      </div>
    </div>
  <%- end %>

  <h5 class="text-center">Unapproved Members</h5>
  <%= render "member_list", users: @unapproved_users %>


  <h5 class="text-center mt-3">Members</h5>
  <%= render "member_list", users: @users %>
<%- end %>