<div class="card border-light">
  <div class="card-body">
    <h5 class="card-title">
      Building Access
    </h5>
    
    <% if !mobile_app_request? && current_tenant.has_mobile_app_links? %>
      <div class="row mt-4">
        <div class="col text-center">
          <p>To open the door, please download our mobile app below and sign in:</p>
        </div>
      </div>
      <div class="row">

        <div class="col text-center align-middle">
          <a href="<%= current_tenant.ios_url %>">
            <img alt="Get it on the app store" src="https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-03-26&kind=iossoftware&bubble=ios_apps" width=135 height=40>
          </a>
        </div>

        <div class="col text-center align-middle" style="margin-top: -10px;">
          <a href="<%= current_tenant.android_url %>">
            <img alt='Get it on Google Play' src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" height=60>
          </a>
        </div>

      </div>
    <%- else %>
      <% if active_working_hours?(current_location) || has_building_access?(current_user) %>
        <%= render "operator/doors/keys", doors: @doors %>
      <% else %>
        <div class="row mt-4">
          <div class="col text-center">
            <p>Building access is only available between <%= format_working_hours(current_location, "and") %></p>
          </div>
        </div>
      <% end %>
    <%- end %>    

  </div>
</div>