<div class="card border-light">
  <div class="card-body">
    <h5 class="card-title">
      Community
    </h5>
    <p class="card-text">
      As a member of <%= current_tenant.name %>'s community, you'll have the opportunity to meet other members.
    </p>
    <p>
      <%= link_to "Explore the community", users_path, class: "btn btn-primary" %>
    </p>
  </div>
</div>