<div class="card border-light">
  <div class="card-body">
    <h5 class="card-title">
      Need help?
    </h5>
    <p class="card-text">
      <%= Rails.application.config.x.customization.name %> management can be contacted via the following administrators:
      <ul class="list-group">
        <li class="list-group-item">David Orr (555) 555-5555</li>
        <li class="list-group-item">Jamie Orr (555) 555-5555</li>
        <li class="list-group-item">Cristi Creegan (555) 555-5555</li>
        <li class="list-group-item">Bernard Creegan (555) 555-5555</li>
      </ul>
    </p>
  </div>
</div>