<div class="card border-light">
  <div class="card-body">
    

    <div class="row mt-3">
      <div class="col">
        <%= image_tag google_map(center: current_tenant.building_address), class: "img-fluid" %>
      </div>
      <div class="col">
        <%= current_tenant.name %> is located at <%= link_to current_tenant.building_address, "https://maps.google.com/?q=#{current_tenant.building_address}", target: "_blank" %>.
      </div>
    </div>
  </div>
</div>