<div class="card border-light">
  <div class="card-body">
    <h5 class="card-title">
      Send feedback
    </h5>
    <%= render "operator/member_feedbacks/form", member_feedback: @member_feedback %>
  </div>
</div>