<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm">
    <div class="card border-light mt-3  ">
      <div class="card-body">
        <h5 class="card-title">Please confirm your reservation</h5>
        <p class="card-text">
          <%= render "form", label: "Confirm Reservation" %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>