<% title "Offices" %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Available Offices</h4>

  <%= render @offices.available_for_lease %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Occupied Offices</h4>

  <%= render @offices.occupied %>
<% end %>

