<% title @office.name %>

<% if !mobile_app_request? %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "offices", offices_path %></li>
      <li class="breadcrumb-item"><%= @office.name %></li>
    </ol>
  </nav>
<% end %>
  
<%= wide_card do %>
  <%= render @office %>
<% end %>