<%= form_for(announcement, html: {multipart: true}, remote: true, data: { type: :html }) do |f| %>
  <%= render "shared/error_messages" , model: announcement %>
  <div class="form-group row m-0 p-0 mt-0">
    <%= f.text_area :body, placeholder: "Type a new announcement...", class: "form-control form-control-lg col", rows: "6", id: "text" %>
  </div>

  <div class="form-group row m-0 p-0 mt-1">
    <button class="form-control btn btn-primary col" id="submit" data-confirm="This will send an announcement to all of your members. Are you sure?", data-disable-with="Posting announcement...">
      <i class="fas fa-bullhorn"></i>
      &nbsp;
      Post announcement
    </button>
  </div>
<%- end %>

<%= render "shared/disable_button", submit_id: "#submit", text_id: "#text" %>