<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">
      <%= subscription.plan.name %>
      <%- if subscription.active? %>
        <span class="badge badge-success">Active</span>
      <%- else %>
        <span class="badge badge-warning">Deactivated <%= subscription.pretty_datetime %></span>
      <%- end %>  
    </h5>
    <p class="card-text">
      <strong>Price:</strong> <%= subscription.plan.pretty_price %>
    </p>
    <%- if subscription.active? %>
      <%= link_to "Change membership", edit_subscription_path(subscription), class: "btn btn-sm btn-primary" %>
    <%- end %>
  </div>
</div>