<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm">
    <h1>Edit your membership</h1>
    <%= render "form", subscription: @subscription, label: "Switch my membership" %>
  </div>
  <div class="col-sm"></div>
</div>