<div class="row mt-3">
  <div class="col-sm-3"></div>
  <div class="col-sm">
    <div class="jumbotron bg-white pb-2 pt-2">
      <h2 class="text-center mb-5 mt-5">Welcome! Please choose your membership to proceed:</h2>
      <%= render "form", subscription: @subscription, label: "Join #{Rails.application.config.x.customization.name}!" %>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>


