<div class="card border-light">
  <div class="card-body">
    <%= link_to room.name, room_path(room) %>
    <p>Seats <strong><%= room.capacity %></strong> people</p>        
    <%- if room.whiteboard? %>
      <span class="badge badge-info">Has Whiteboard</span>
    <%- end %>
  </div>
</div>