<div class="row mt-1">
  <div class="col-sm">
    <%= link_to "Edit Room", edit_room_path(@room), class: "btn btn-primary" %>
  </div>  
</div>
<div class="row mt-1">
  <div class="col-sm">
    <%= render "rooms/room_card", room: @room %>
  </div>
</div>