<div class="row mt-1">
  <div class="col-sm">
    <%= link_to "Edit Room", edit_room_path(@room), class: "btn btn-primary" %>
  </div>  
</div>
<div class="row mt-1">
  <div class="col-sm">
    <%= render "rooms/room_card", room: @room %>
  </div>
  <div class="col-sm">
    <h2>Reservations</h2>
    <%- if @room.reservations.count < 1 %>
      (none)
    <%- else %>
      <%- @room.reservations.each do |reservation| %>
        <div class="row">
          <div class="col-sm">
            <%= render "reservations/reservation_card", reservation: reservation %>
          </div>
        </div>
      <%- end %>
    <%- end %>
  </div>
</div>