<div class="row">
  <div class="col-sm">
    <h2><%= @door.name %> Log</h2>
    <table class="table">
      <tr>
        <th>When</th>
        <th>Who</th>
      </tr>
      <%- @door.door_punches.order(:created_at).limit(100).each do |punch| %>
        <tr>
          <td><%= punch.pretty_datetime %></td>
          <td><%= link_to punch.user.name, user_path(punch.user) %></td>
        </tr>
      <%- end %>
    </table>
  </div>
</div>