<%- title "Delinquent Invoices" %>

<div class="row mt-3 mb-2">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">

    <div class="card">
      <div class="card-body">
        <h4 class="display-4 text-center">Delinquent Invoices</h4>
        <%= render "operator/invoices/nav" %>
      </div>
      <%= render "invoice_list", invoices: @invoices %>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>

